@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Balinese:700|Noto%20Sans%20Balinese:400');

body {
  font-family: 'Noto Sans Balinese';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Sans Balinese';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

:root{
    --text: #312f02;
    --background: #fefdf1;
    --primary: #7f7506;
    --secondary: #6df886;
    --accent: #0aebab;    
}

*{
  margin: 0;
  padding: 0;    
}
body{
    background-color: var(--background);
    color:var(--text);
  }
.header-link:hover{
    background-color: #fff;
    color:#000;
    transition: color 0.2s ease-in-out;
  }
  a{
    color:var(--text);
    border-radius: 5px;
  }

  .img-cont{
    height: 100%;
  }
  .img-body{
    width: 100%;
    height: 100%;
  }

  @media (max-width: 850px) {
    .header-ul {
      display: none;
    }
    .dropdown-nav {
      display: block;
    }
    .lgo-img{
        display: none;
    }
}
  
  @media (min-width: 851px) {
    .dropdown-nav {
      display: none;
    }
  }
  
  @media (max-width: 815px) {
    .home-link {
      width: 100%;
      text-align: center;
    }
  }